
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-globe"></i>
        </div>
        <div class="sidebar-brand-text mx-3"> IGAP E_Doc </div>
    </a>
    

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item ">
        <a class="nav-link" routerlinkActive="active"routerLink="/admin/dashboard">
            <i class="fas fa-fw fa-home"></i>
            <span>Dashboard</span></a>
    </li>
    <li class="nav-item ">
        <a class="nav-link" routerlinkActive="active"routerLink="/admin/document">
            <i class="fas fa-fw fa-list-alt"></i>
            <span>Document</span></a>
    </li>
    <li class="nav-item ">
        <a class="nav-link" routerlinkActive="active"routerLink="/admin/words">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Words</span></a>
    </li>
    <li class="nav-item ">
        <a class="nav-link" routerlinkActive="active"routerLink="/admin/employee">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Employee</span></a>
    </li>
    <li class="nav-item ">
        <span class="nav-link" (click)="logout()">
            <i class="fas fa-fw fa-arrow-left"></i>
            <span>Logout</span></span>
            </li>
            </ul>
    

    